.class {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    margin: 0;
}
#add_test {
    flex-direction: column !important;
}


.FormInput>label {
    width: 25%;
    text-transform: uppercase;
}

.FormInput>input {
    width: 75%;
}

.main_component{
    width: 100vw;
    height: 85vh;
    position: fixed;
    top: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#column {
    flex-direction: column !important;
}

h2, h3 {
    height: 0vh;
}

.TestItem {
    background-color: rgb(195, 215, 222);
    border: 2px solid rgb(147, 176, 187);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(147, 176, 187);
    flex: 1;
    margin: 8px;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80vh;
}

.TestItem>p, .patient>p {
    font-size: larger;
    padding: 2vw;
}

.PatientTestList, #patientList {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.TestTile>div {
    display: flex;
    flex-direction: column;
}

.TestTile, .patient {
    background-color: rgb(195, 215, 222);
    border: 2px solid rgb(147, 176, 187);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(147, 176, 187);
    flex: 1;
    margin: 8px;
}

.TestTile:hover {
    width: 90%;
}

.login>p {
    margin-top: 2vh;
    padding: 10%;
    width: 80%;
    font-size: xx-large;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>input {
    width: 80%;
    height: 2vh;
}

form>button, .main_component>button {
    margin: 1vh;
    width: 82%;
    height: 3vh;
    border: 2px solid rgb(147, 176, 187);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(147, 176, 187);
}
form>button:hover, .main_component>button:hover {
    width: 85%;
    height: 4vh;
}


@media (orientation: portrait) {
    #main_page {
        flex-direction: column
    }
    .login {
        height: 40%;
        width: 90%;
    }
    .FormInput {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    #main_page {
        flex-direction: row;
    }
    .login {
        height: 80%;
        width: 40%;
    }
    .FormInput {
        width: 80%;
        display: flex;
        flex-direction: row;
    }
}

.login {
    background-color: rgb(195, 215, 222);
    border-radius: 20px;
    box-shadow: 5px 5px 1px rgb(147, 176, 187);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0; /* Do not shrink the footer */
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

header {
    position: fixed;
    height: 5vh;
    top: 0;
    width: 100%;
    flex-shrink: 0; /* Do not shrink the footer */
    background-color: #f0f0f0;
    padding: 0.5vh;
    text-align: center;
    font-size: x-large;
}
